<h1>Galpão <%= @warehouse["code"]%> - <%= @warehouse["name"]%></h1>
<div>
  <p><%= @warehouse["city"]%></p>
  <p><%= @warehouse["area"]%> m2</p>
  <p><%= @warehouse["address"]%> - CEP <%= @warehouse["cep"]%></p>
  <p><%= @warehouse["description"]%></p>
</div>
